.heroBanner {
  background: #120b19;
  color: #fff;
  text-align: left;
  position: relative;
  overflow: hidden;
  padding: 6rem 2rem 2rem;
  margin-bottom: 3em;
}

.illustrationWrapper {
  text-align: center;
}

.illustration {
  max-height: 300px;
}

@media (max-width: 966px) {
  .heroBanner {
    padding: 4rem 1rem;
  }

  .illustration {
    margin-bottom: 2rem;
    max-height: 200px;
  }
}

@media (max-width: 350px) {
  .heroBanner {
    padding: 3rem 0rem;
  }
}
